@tailwind base;
@tailwind components;
@tailwind utilities;

.my-component {
    font-family: 'Roboto', sans-serif;
}
.hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }